project_name: [% project_name %]
author: [% author_name %]
ml_framework: [% ml_framework %]

# Paths for data, models, etc.
data_path: "./data"
models_path: "./models"

# Training parameters
learning_rate: 0.001
batch_size: 32
epochs: 10
